body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    background-color: rgb(62, 52, 73);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
}

.admin_panel {
    width: 20vw;
    padding: 10px 16px;
}

.content {
    background-color: rgb(215, 232, 233);
    width: 100%;
}

.admin_link {
    color: white;
    text-decoration: none;
}

.admin_swap {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group label {
    font-weight: bold;
    color: #4a5568; /* Tailwind's text-gray-700 */
}

.input-group input,
.input-group textarea,
.input-group select {
    background-color: #f7fafc; /* Tailwind's bg-gray-100 */
    border: 1px solid #e2e8f0; /* Tailwind's border-gray-300 */
    border-radius: 0.375rem; /* Tailwind's rounded-md */
    padding: 0.5rem;
    transition: background-color 0.2s, border-color 0.2s;
    font-size: 1rem;
    color: #2d3748; /* Tailwind's text-gray-800 */
}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
    background-color: #ffffff; /* Tailwind's bg-white */
    border-color: #3182ce; /* Tailwind's border-blue-500 */
    outline: none;
}

.input-group :disabled {
    background-color: #d5d8db; /* Tailwind's bg-gray-300 */
    border: 1px solid #80858a; /* Tailwind's border-gray-400 */
    cursor: not-allowed;
}

/* Toggle switch container */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default checkbox */
.toggle-switch input {
    display: none;
}

/* Toggle switch slider (background) */
.toggle-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
}

/* Toggle switch circle (knob) */
.toggle-label .toggle-switch {
    position: absolute;
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
    top: 4px;
    left: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* When checkbox is checked */
.toggle-switch input:checked + .toggle-label {
    background-color: #4caf50;
}

/* Move the toggle switch knob to the right when checked */
.toggle-switch input:checked + .toggle-label .toggle-switch {
    transform: translateX(26px);
}
